*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    overflow: hidden;
}
.nav{
   position: sticky;
   z-index: 1;
   display: flex;
   align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
display: inline-block;
margin: 0 20px;
}
.nav-links ul li a{
    color: #f50909;
    text-decoration: none;
    position: relative;
}
.nav-links ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.information{
    width: 520px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
#circle{
    width: 520px;
    height: 520px;
    position: absolute;
    top: 14%;
    left: 0%;
    border-radius: 50%;
    background: #ccc;
}
.feature{
    position: absolute;
}
.one{
    top: 20px;
    right: 150px;
}
.two{
    top: 210px;
    left: 370px;
}
.three{
    bottom: 250px;
    left: 20px;
}
.four{
    bottom: 20px;
    right: 210px;
}